{% extends "layout.html" %}

{% block content %}
<article class="media content-section">
    <form method="POST", action="" enctype="multipart/form-data">
        {{ room_form.hidden_tag() }}
    <div class="media-body">
        <div class="article-metadata">
            <h4>Oda Ekle</h4>
        </div>

        <div class="form-group">
            {{ room_form.capacity.label(class="form-control-label") }}
            {% if room_form.capacity.errors %}
            {{ room_form.capacity(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in room_form.capacity.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ room_form.capacity(class="small-input form-control form-control-lg") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ room_form.num_from.label(class="form-control-label") }}
            {% if room_form.num_from.errors %}
            {{ room_form.num_from(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in room_form.num_from.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ room_form.num_from(class="custom-input form-control form-control-lg", value=def_room_num ) }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ room_form.num_to.label(class="form-control-label") }}
            {% if room_form.num_to.errors %}
            {{ room_form.num_to(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in room_form.num_to.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ room_form.num_to(class="custom-input form-control form-control-lg") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ room_form.submit(class="btn btn-outline-info") }}
        </div>

    </div>
    </form>
</article>

<article class="media content-section">
    <form method="POST", action="" enctype="multipart/form-data">
        {{ staff_form.hidden_tag() }}
        <div class="media-body">
            <div class="article-metadata">
                <h4>Çalışan Ekle</h4>
            </div>

            <div class="form-group">
                {{ staff_form.fname.label(class="form-control-label") }}
                {% if staff_form.fname.errors %}
                {{ staff_form.fname(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in staff_form.fname.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ staff_form.fname(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ staff_form.sname.label(class="form-control-label") }}
                {% if staff_form.sname.errors %}
                {{ staff_form.sname(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in staff_form.sname.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ staff_form.sname(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ staff_form.tckn.label(class="form-control-label") }}
                {% if staff_form.tckn.errors %}
                {{ staff_form.tckn(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in staff_form.tckn.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ staff_form.tckn(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ staff_form.position.label(class="form-control-label") }}
                {% if staff_form.position.errors %}
                {{ staff_form.position(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in staff_form.position.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ staff_form.position(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ staff_form.supervisor.label(class="form-control-label") }}
                {% if staff_form.supervisor.errors %}
                {{ staff_form.supervisor(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in staff_form.supervisor.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ staff_form.supervisor(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ staff_form.salary.label(class="form-control-label") }} (&#8378;)
                {% if staff_form.salary.errors %}
                {{ staff_form.salary(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in staff_form.salary.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ staff_form.salary(class="form-control form-control-lg") }}
                {% endif %}
            </div>


            <div class="form-group">
                {{ staff_form.submit(class="btn btn-outline-info") }}
            </div>

        </div>
    </form>
</article>

{% endblock content %}
